.logo{
    animation: fill 1s ease forwards 3.5s;
    display: flex;
    justify-content: center;
}




.logo path:nth-child(1){
  stroke-dasharray: 0px;
}

.logo path:nth-child(2){
   stroke-dasharray: 200px;
   stroke-dashoffset: 200px;
   animation: line-anim 2s ease forwards 0.6s;
}



.logo path:nth-child(3){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
   animation:line-anim 2s ease forwards 0.9s;
}


.logo path:nth-child(4){
    stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 1.2s;
}

.logo path:nth-child(5){
    stroke-dasharray:200px;
     stroke-dashoffset: 200px;
      animation:line-anim 2s ease forwards 1.5s;
}

.logo path:nth-child(6){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 1.8s;
}


.logo path:nth-child(7){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 2.1s;
}


.logo path:nth-child(8){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 2.4s;
}


.logo path:nth-child(9){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 2.7s;
}

.logo path:nth-child(10){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.0s;

}



.logo path:nth-child(11){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.3s;

}


.logo path:nth-child(12){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.6s;

}


.logo path:nth-child(13){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 3.9s;

}


.logo path:nth-child(14){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.2s;

}


.logo path:nth-child(15){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.5s;

}


.logo path:nth-child(16){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 4.7s;

}


.logo path:nth-child(17){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.0s;

}


.logo path:nth-child(18){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.3s;

}


.logo path:nth-child(19){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.6s;

}


.logo path:nth-child(20){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 5.9s;

}


.logo path:nth-child(21){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 6.2s;

}


.logo path:nth-child(22){
  stroke-dasharray:200px;
   stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 6.5s;


}


.logo path:nth-child(23){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 6.8s;
}


.logo path:nth-child(24){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 7.1s;
}


.logo path:nth-child(25){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 7.4s;
}


.logo path:nth-child(26){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 7.7s;
}



.logo path:nth-child(27){
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 8.0s;
}



.logo path:nth-child(28)
{
  stroke-dasharray:200px;
  stroke-dashoffset: 200px;
    animation:line-anim 2s ease forwards 8.3s;
 
}
 
 @keyframes line-anim{
     to{
stroke-dashoffset:0;
     }
 }
 @keyframes fill{
     from {
         fill:none;
     }
 to{ fill: orange;
 }
 }

